.main-container1{
    margin: 3em;  
    background-color:white;
    height: 15em;
    width: 76em;
    padding: 1em;
   }


   hr{
    background-color: #e0e0e0;
   }



   
   .item{
    display: flex;
    justify-content: space-between;
   }


.titulos{
    display:flex;
    justify-content: space-between;
}

