.main-container{
    margin: 3em;
   }
    
   hr{
    background-color: #e0e0e0;
   }
    
   .table{
    margin: 1em;
   }
    
   .item{
    display: flex;
    justify-content: space-between;
   }

.titulos{
    display:flex;
    justify-content: space-between;
}


